* {
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(204, 197, 181); */
}
.khoisp {
  height: 600px;
  width: 400px;
  float: left;
  margin: 10px;
}
i.fa.fa-window-close:hover {
  color: whitesmoke;
  cursor: pointer;
}

i.fa.fa-window-close {
  color: orange;
  top: 82px;
  position: absolute;
  left: calc(50% + 300px);
  opacity: 0;
  transition: 0.4s;
  visibility: hidden;
}

.detailgoods {
  height: 400px;
  width: 600px;
  background-color: #07d881;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: calc(50% - 300px);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.modal {
  background: #5052525e;
  height: 100%;
  width: 100%;
  top: 0px;
  position: fixed;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.display {
  opacity: 1 !important;
  visibility: visible !important;
}
.toankhoi {
  width: 400px;
  height: 300px;
  /* margin: auto; */
  /* margin-top: 50px; */
  /* float: left; */
}

.tren {
  height: 240px;
  width: 400px;
  position: relative;
  overflow: hidden;
}

.khoianh img {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.trai,
.phai {
  width: 20px;
  height: 100%;
  line-height: 240px;
  text-align: center;
  background-color: #7080904f;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.4s;
  opacity: 0;
}
.phai {
  left: 380px;
}

.wishlist {
  height: 30px;
  width: 50%;
  display: block;
  background-color: #4682b473;
  text-align: center;
  color: #b747ae;
  text-decoration: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transition: 0.4s;
  transform: translateX(-100%);
}
.quickview {
  height: 30px;
  width: 50%;
  display: block;
  position: absolute;
  background-color: #4682b473;
  text-align: center;
  color: #b747ae;
  text-decoration: none;
  right: 0px;
  bottom: 0px;
  transition: 0.4s;
  transform: translateX(100%);
}
.fa {
  font-size: 20px;
  padding: 4px 0px;
}

.tren:hover .trai,
.tren:hover .phai {
  opacity: 1;
}

.tren:hover .wishlist,
.tren:hover .quickview {
  transform: translateX(0);
}
.wishlist:hover,
.quickview:hover {
  background-color: #d8ccb678;
}

.duoi {
  text-align: center;
  margin-top: 10px;
}
.duoi a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(33, 43, 39);
}
