* {
  margin: 0;
  padding: 0;
}
@import "animation.css";
html,
body,
.sildewrap,
.slides,
.slides ul,
.slides ul li {
  height: 100%;
  width: 100%;
}

.sildewrap {
  position: relative;
}
.slides {
  /* position: relative; */
  background-color: rgb(46, 36, 34);
  perspective: 800px; /* phai de o phan tu cha, gia tri cang nho thi chuyen dong cang sau */
}
.slides ul {
  position: relative;
  overflow: hidden;
}
.slides ul li {
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  opacity: 0;
}

.slides ul li.display {
  opacity: 1;
}

.nuts {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
}

.nuts b {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 60px;
  color: rgb(141, 142, 145);
}

.nuts .leftbtn:hover {
  color: rgb(47, 53, 71);
  transition: 0.4s;
}
.nuts .rightbtn:hover {
  color: rgb(47, 53, 71);
  transition: 0.4s;
}
.effect select {
  position: absolute;
  left: calc(50% - 100px);
  top: 5%;
  height: 30px;
  width: 200px;
  background-color: transparent;
  border: 2px solid rgb(19, 17, 17);
  color: white;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  border-radius: 10px;
  /* text-align: center; */
  padding-left: 30px;
}

.effect:hover select {
  border: 2px solid rgb(99, 31, 31);
  color: rgb(53, 190, 145);
}

/* CSS cho cac animation */
/* ----------------------------------------- */
.slides ul li.nextIn {
  animation: nextIn 1s forwards;
}
.slides ul li.nextOut {
  animation: nextOut 1s forwards;
}
.slides ul li.prevIn {
  animation: prevIn 1s forwards;
}
.slides ul li.prevOut {
  animation: prevOut 1s forwards;
}
.slides ul li.nextIn2 {
  animation: nextIn2 1s forwards;
}
.slides ul li.nextOut2 {
  animation: nextOut2 1s forwards;
}
.slides ul li.prevIn2 {
  animation: prevIn2 1s forwards;
}
.slides ul li.prevOut2 {
  animation: prevOut2 1s forwards;
}
.slides ul li.nextIn3 {
  animation: nextIn3 1s forwards;
}
.slides ul li.nextOut3 {
  animation: nextOut3 1s forwards;
}
.slides ul li.prevIn3 {
  animation: prevIn3 1s forwards;
}
.slides ul li.prevOut3 {
  animation: prevOut3 1s forwards;
}
.slides ul li.nextIn4 {
  animation: nextIn4 1s forwards;
}
.slides ul li.nextOut4 {
  animation: nextOut4 1s forwards;
}
.slides ul li.prevIn4 {
  animation: prevIn4 1s forwards;
}
.slides ul li.prevOut4 {
  animation: prevOut4 1s forwards;
}
/* ----------------------------------------- */
/* Định nghĩa các animaton */
/* ----------------------------------------- */
@-webkit-keyframes nextIn {
  /* animation 1 */
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes nextOut {
  /* animation 1 */
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0.2;
  }
}
@-webkit-keyframes prevIn {
  /* animation 1 */
  from {
    transform: scale(2);
    opacity: 0.2;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes prevOut {
  /* animation 1 */
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.2);
    opacity: 0;
  }
}
@-webkit-keyframes nextIn2 {
  /* animation 1 */

  from {
    transform: translateX(-100%) rotateY(-90deg);
    opacity: 0;
  }
  to {
    transform: translateX(0%) rotateY(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes nextOut2 {
  from {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateX(100%) scale(0.9);
    opacity: 0.2;
  }
}

@-webkit-keyframes prevIn2 {
  from {
    transform: translateX(100%) scale(0.9);
    opacity: 0.2;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes prevOut2 {
  /* animation 1 */
  from {
    transform: translateX(0%) rotateY(0deg);
    opacity: 1;
  }
  to {
    transform: translateX(-100%) rotateY(-90deg);
    opacity: 0;
  }
}
@-webkit-keyframes nextIn3 {
  /* animation 1 */

  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes nextOut3 {
  from {
    z-index: 10;
    height: 100%;
  }
  to {
    z-index: 10;
    height: 0%;
  }
}

@-webkit-keyframes prevIn3 {
  from {
    z-index: 10;
    height: 0%;
    opacity: 1;
  }
  to {
    z-index: 10;
    height: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes prevOut3 {
  /* animation 1 */
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes nextIn4 {
  /* animation 1 */

  from {
    transform: translateY(-50%);
    opacity: 1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes nextOut4 {
  from {
    z-index: 10;
    transform: translateY(0%);
  }
  to {
    z-index: 10;
    transform: translateY(100%);
  }
}

@-webkit-keyframes prevIn4 {
  to {
    z-index: 10;
    transform: translateY(0%);
    opacity: 1;
  }
  from {
    z-index: 10;
    transform: translateY(100%);
    opacity: 1;
  }
}

@-webkit-keyframes prevOut4 {
  /* animation 1 */
  to {
    transform: translateY(-50%);
    opacity: 1;
  }
  from {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* ----------------------------------------- */
