/* CSS cho cac animation */
/* ----------------------------------------- */
.slides ul li.nextIn1 {
  animation: nextIn1 1s forwards;
}
.slides ul li.nextOut1 {
  animation: nextOut1 1s forwards;
}
.slides ul li.prevIn1 {
  animation: prevIn1 1s forwards;
}
.slides ul li.prevOut1 {
  animation: prevOut1 1s forwards;
}
/* ----------------------------------------- */
.slides ul li.nextIn2 {
  animation: nextIn2 1s forwards;
}
.slides ul li.nextOut2 {
  animation: nextOut2 1s forwards;
}
.slides ul li.prevIn2 {
  animation: prevIn2 1s forwards;
}
.slides ul li.prevOut2 {
  animation: prevOut2 1s forwards;
}
/* ----------------------------------------- */
.slides ul li.nextIn3 {
  animation: nextIn3 1s forwards;
}
.slides ul li.nextOut3 {
  animation: nextOut3 1s forwards;
}
.slides ul li.prevIn3 {
  animation: prevIn3 1s forwards;
}
.slides ul li.prevOut3 {
  animation: prevOut3 1s forwards;
}
/* ----------------------------------------- */
.slides ul li.nextIn4 {
  animation: nextIn4 1s forwards;
}
.slides ul li.nextOut4 {
  animation: nextOut4 1s forwards;
}
.slides ul li.prevIn4 {
  animation: prevIn4 1s forwards;
}
.slides ul li.prevOut4 {
  animation: prevOut4 1s forwards;
}
/* ----------------------------------------- */
.slides ul li.nextIn5 {
  animation: nextIn5 0.3s forwards;
  animation-delay: 0.5s;
}
.slides ul li.nextOut5 {
  animation: nextOut5 0.8s forwards;
}
.slides ul li.prevIn5 {
  animation: prevIn5 0.3s forwards;
  animation-delay: 0.5s;
}
.slides ul li.prevOut5 {
  animation: prevOut5 0.8s forwards;
}
/* ----------------------------------------- */
/* ----------------------------------------- */
.slides ul li.nextIn6 {
  animation: nextIn6 1s forwards;
  /* animation-delay: 0.3s; */
}
.slides ul li.nextOut6 {
  animation: nextOut6 0.5s forwards;
}
.slides ul li.prevIn6 {
  animation: prevIn6 1s forwards;
}
.slides ul li.prevOut6 {
  animation: prevOut6 1s forwards;
}
/* ----------------------------------------- */
